<div class="gf-form-inline">
  <div>
    <div class="gf-form">

    <div class="gf-form-inline width-24">
      <label class="gf-form-label width-8" for="dropdown-site">
        Site
      </label>
      <div class="gf-form-select-wrapper width-15">
        <gf-form-dropdown model="ctrl.config.site"
            placeholder="select site"
            id="dropdown-site"
            allow-custom="true"
            lookup-text="true"
            get-options="ctrl.getSiteOptions()"
            on-change="ctrl.onSiteChange()">
        </gf-form-dropdown>
      </div>
    </div>
    </div>

    <div ng-show="ctrl.config.site" class="gf-form">
    <div class="gf-form-inline width-24">
      <label class="gf-form-label width-8" for="dropdown-host">
        Host
        <span ng-show="ctrl.config.usehostregex">Regex</span>
      </label>

      <div ng-show="!ctrl.config.usehostregex" class="gf-form-select-wrapper width-15">
        <gf-form-dropdown model="ctrl.config.host"
            placeholder="use select host"
            id="dropdown-host"
            lookup-text="true"
            get-options="ctrl.getHostOptions()"
            on-change="ctrl.onHostChange()">
        </gf-form-dropdown>
      </div>

      <input ng-show="ctrl.config.usehostregex" type="text" class="gf-form-input width-15" ng-model="ctrl.config.hostregex" ng-change="ctrl.onHostRegexChange()" ng-model-onblur />

      <editor-checkbox text="use Regex" model="ctrl.config.usehostregex" class="gf-form-checkbox" style="width:auto;background: none;border: none;" />
    </div>
    </div>

    <div ng-show="ctrl.config.host || ctrl.config.usehostregex" class="gf-form">
    <div class="gf-form-inline width-24">
      <label class="gf-form-label width-8" for="dropdown-service">
        Service
        <span ng-show="ctrl.config.usehostregex || ctrl.config.useserviceregex">Regex</span>
      </label>

      <div ng-show="!ctrl.config.usehostregex && !ctrl.config.useserviceregex" class="gf-form-select-wrapper width-15">
        <gf-form-dropdown model="ctrl.config.service"
            placeholder="select service"
            id="dropdown-service"
            lookup-text="true"
            get-options="ctrl.getServiceOptions()"
            on-change="ctrl.onServiceChange()">
        </gf-form-dropdown>
      </div>

      <input ng-show="ctrl.config.usehostregex || ctrl.config.useserviceregex" type="text" class="gf-form-input width-15" ng-model="ctrl.config.serviceregex" ng-change="ctrl.onServiceRegexChange()" ng-model-onblur />

      <editor-checkbox ng-show="!ctrl.config.usehostregex" text="use Regex" model="ctrl.config.useserviceregex" class="gf-form-checkbox" style="width:auto;background: none;border: none;" />
    </div>
    </div>
  </div>
  <div>
    <h6>Show these annotations:</h6>
    <editor-checkbox change="ctrl.onShowAnnotationChange()" text="ok" model="ctrl.config.show.ok" class="gf-form-checkbox" style="width:auto;background: none;border: none;justify-content:left;" />
    <editor-checkbox change="ctrl.onShowAnnotationChange()" text="warn" model="ctrl.config.show.warn" class="gf-form-checkbox" style="width:auto;background: none;border: none;justify-content:left;" />
    <editor-checkbox change="ctrl.onShowAnnotationChange()" text="crit" model="ctrl.config.show.crit" class="gf-form-checkbox" style="width:auto;background: none;border: none;justify-content:left;" />
    <editor-checkbox change="ctrl.onShowAnnotationChange()" text="unknown" model="ctrl.config.show.unknown" class="gf-form-checkbox" style="width:auto;background: none;border: none;justify-content:left;" />
    <editor-checkbox change="ctrl.onShowAnnotationChange()" text="flapping" model="ctrl.config.show.flapping" class="gf-form-checkbox" style="width:auto;background: none;border: none;justify-content:left;" />
    <editor-checkbox change="ctrl.onShowAnnotationChange()" text="host down" model="ctrl.config.show.host_down" class="gf-form-checkbox" style="width:auto;background: none;border: none;justify-content:left;" />
    <editor-checkbox change="ctrl.onShowAnnotationChange()" text="downtime" model="ctrl.config.show.in_downtime" class="gf-form-checkbox" style="width:auto;background: none;border: none;justify-content:left;" />
    <editor-checkbox change="ctrl.onShowAnnotationChange()" text="out of notification period" model="ctrl.config.show.outof_notification_period" class="gf-form-checkbox" style="width:auto;background: none;border: none;justify-content:left;" />
    <editor-checkbox change="ctrl.onShowAnnotationChange()" text="out of service period" model="ctrl.config.show.outof_service_period" class="gf-form-checkbox" style="width:auto;background: none;border: none;justify-content:left;" />
    <editor-checkbox change="ctrl.onShowAnnotationChange()" text="unmonitored" model="ctrl.config.show.unmonitored" class="gf-form-checkbox" style="width:auto;background: none;border: none;justify-content:left;" />
  </div>
</div>

<div ng-show="ctrl.getLastError()" class="gf-form">
  <div class="alert-error alert">
    <div class="alert-icon"><i class="fa fa-exclamation-triangle"></i></div>
    <div class="alert-body">
      <div class="alert-title">{{ctrl.getLastError()}}</div>
    </div>
  </div>
</div>
