<query-editor-row query-ctrl="ctrl" class="generic-datasource-query-row" has-text-edit-mode="true">
  <div class="gf-form">
    <div class="gf-form-inline width-22">
      <label class="gf-form-label width-5" for="dropdown-site">
        Site
      </label>
      <div class="gf-form-select-wrapper width-15">
        <gf-form-dropdown model="ctrl.target.site"
            placeholder="select site"
            id="dropdown-site"
            allow-custom="true"
            lookup-text="true"
            get-options="ctrl.getSiteOptions()"
            on-change="ctrl.onSiteChange()">
        </gf-form-dropdown>
      </div>
    </div>

    <div class="gf-form-inline width-22">
      <label class="gf-form-label width-5" for="dropdown-host">
        Host
      </label>
      <div class="gf-form-select-wrapper width-15">
        <gf-form-dropdown model="ctrl.target.host"
            placeholder="select host"
            id="dropdown-host"
            lookup-text="true"
            get-options="ctrl.getHostOptions()"
            on-change="ctrl.onHostChange()">
        </gf-form-dropdown>
      </div>
    </div>
  </div>

  <div class="gf-form">
    <div ng-show="ctrl.target.host" class="gf-form-inline width-22">
      <label class="gf-form-label width-5" for="dropdown-service">
        Service
      </label>
      <div class="gf-form-select-wrapper width-15">
        <gf-form-dropdown model="ctrl.target.service"
            placeholder="select service"
            id="dropdown-service"
            lookup-text="true"
            get-options="ctrl.getServiceOptions()"
            on-change="ctrl.onServiceChange()">
        </gf-form-dropdown>
      </div>
    </div>

    <div ng-show="ctrl.target.service" class="gf-form-inline width-22">
      <label class="gf-form-label width-5" for="dropdown-mode">
        Mode
      </label>
      <div class="gf-form-select-wrapper width-15">
        <gf-form-dropdown model="ctrl.target.mode"
            placeholder="select mode"
            id="dropdown-mode"
            lookup-text="true"
            get-options="ctrl.getModeOptions()"
            on-change="ctrl.onModeChange()">
        </gf-form-dropdown>
      </div>
    </div>

    <div ng-show="ctrl.target.service && ctrl.target.mode === 'graph'" class="gf-form-inline width-22">
      <label class="gf-form-label width-5" for="dropdown-graph">
        Graph
      </label>
      <div class="gf-form-select-wrapper width-15">
        <gf-form-dropdown model="ctrl.target.graph"
            placeholder="select graph"
            id="dropdown-graph"
            lookup-text="true"
            get-options="ctrl.getGraphOptions()"
            on-change="ctrl.onGraphChange()">
        </gf-form-dropdown>
      </div>
    </div>

    <div ng-show="ctrl.target.service && ctrl.target.mode === 'metric'" class="gf-form-inline width-22">
      <label class="gf-form-label width-5" for="dropdown-metric">
        Metric
      </label>
      <div class="gf-form-select-wrapper width-15">
        <gf-form-dropdown model="ctrl.target.metric"
            placeholder="select metric"
            id="dropdown-metric"
            lookup-text="true"
            get-options="ctrl.getMetricOptions()"
            on-change="ctrl.onMetricChange()">
        </gf-form-dropdown>
      </div>
    </div>

    <div ng-show="ctrl.target.mode === 'combined'" class="gf-form-inline width-22">
      <label class="gf-form-label width-6" for="dropdown-presentation">
        Aggregation
      </label>
      <div class="gf-form-select-wrapper width-15">
        <gf-form-dropdown model="ctrl.target.presentation"
            placeholder="select type"
            id="dropdown-presentation"
            lookup-text="true"
            get-options="ctrl.getPresentationOptions()"
            on-change="ctrl.onPresentationChange()">
        </gf-form-dropdown>
      </div>
    </div>

    <div ng-show="ctrl.target.presentation" class="gf-form-inline width-22">
      <label class="gf-form-label width-6" for="dropdown-combinedgraph">
        Graph
      </label>
      <div class="gf-form-select-wrapper width-15">
        <gf-form-dropdown model="ctrl.target.combinedgraph"
            placeholder="select graph"
            id="dropdown-combinedgraph"
            lookup-text="true"
            get-options="ctrl.getCombinedGraphOptions()"
            on-change="ctrl.onCombinedGraphChange()">
        </gf-form-dropdown>
      </div>
    </div>
  </div>
  </div>

  <div ng-show="ctrl.getLastError()" class="gf-form">
    <div class="alert-error alert">
      <div class="alert-icon"><i class="fa fa-exclamation-triangle"></i></div>
      <div class="alert-body">
        <div class="alert-title">{{ctrl.getLastError()}}</div>
      </div>
    </div>
  </div>
</query-editor-row>
