name: CI

on:
  push:
    branches:
      - main
  pull_request:
  schedule:
    - cron: '38 0 * * *' # every day at randint(0, 60) minutes after midnight

jobs:
  test-plugin-json:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install dependencies
        run: |
          sudo apt-get install jq

      - name: plugin_json_to_cloud.sh should not change src.plugin.json
        run: |
          # src/plugin.json and plugin_json_to_cloud.sh 
          # should contain the same ids and strings
          # this test makes sure they stay in sync
          jq --sort-keys . src/plugin.json > /tmp/before.json
          bash utils/plugin_json_to_cloud.sh
          jq --sort-keys . src/plugin.json > /tmp/after.json
          diff /tmp/before.json /tmp/after.json

  build:
    runs-on: ubuntu-latest
    outputs:
      signed-plugin-name: '${{ steps.build-signed.outputs.plugin_path }}'
      unsigned-plugin-name: '${{ steps.build-unsigned.outputs.plugin_path }}'
    steps:
      - uses: actions/checkout@v3

      - name: Setup Node.js environment
        uses: actions/setup-node@v3
        with:
          node-version: '16'
          cache: 'yarn'

      - name: Install dependencies
        run: yarn install --immutable --prefer-offline

      - name: Run prettier
        run: yarn prettier -c '{**/*,*}.{js,ts,jsx,tsx,json,yml}'

      - name: Check types
        run: yarn typecheck
      - name: Lint
        run: yarn lint
      - name: Unit tests
        run: yarn test:ci

      - name: Compatibility check
        run: npx @grafana/levitate@latest is-compatible --path src/module.ts --target @grafana/data,@grafana/ui,@grafana/runtime

      - name: clean up repo
        uses: actions/checkout@v3

      - name: Build frontend unsigned
        id: build-unsigned
        uses: ./.github/build/
        with:
          release: false
          signed: false

      - name: Upload unsigned package
        uses: actions/upload-artifact@v3
        with:
          name: '${{ steps.build-unsigned.outputs.plugin_path }}'
          path: '${{ steps.build-unsigned.outputs.plugin_path }}'

      - name: clean up repo
        uses: actions/checkout@v3

      - name: Build frontend signed
        id: build-signed
        uses: ./.github/build/
        env:
          GRAFANA_API_KEY: ${{ secrets.GRAFANA_API_KEY }}
        with:
          release: false
          signed: true

      - name: Upload signed package
        uses: actions/upload-artifact@v3
        with:
          name: '${{ steps.build-signed.outputs.plugin_path }}'
          path: '${{ steps.build-signed.outputs.plugin_path }}'

  validate-plugin:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Download package from build job
        uses: actions/download-artifact@v3
        with:
          name: '${{ needs.build.outputs.signed-plugin-name }}'

      - name: Setup Go environment
        uses: actions/setup-go@v3
        with:
          go-version: '1.19'

      - name: Install validator
        run: |
          git clone https://github.com/grafana/plugin-validator
          pushd ./plugin-validator/pkg/cmd/plugincheck2
          go install
          popd

      - name: Validate plugin
        run: |
          plugincheck2 -config ./plugin-validator/config/default.yaml checkmk-cloud-datasource-*.zip

  e2e:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v3

      - name: Download package from build job
        uses: actions/download-artifact@v3
        with:
          name: '${{ needs.build.outputs.unsigned-plugin-name }}'

      - name: unpack and move plugin
        run: |
          unzip tribe-29-checkmk-datasource*.zip
          mv tribe-29-checkmk-datasource dist

      - name: run the e2e tests
        run: |
          docker compose rm -f
          docker compose up --exit-code-from=cypress --pull always
        working-directory: tests/

      - name: upload cypress artifacts
        uses: actions/upload-artifact@v3
        if: always()
        with:
          name: cypress
          retention-days: 1
          path: |
            tests/cypress/videos
            tests/cypress/screenshots
